.social-media {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.social-media ul {
    list-style: none;
    display: flex;
}

.twitter {
    width: 50px;
}

.social-media .twitter a {
    background-position: -94px 0;
}

.facebook a {
    padding-left: 40px;
}

.social-media a {
	padding: 10px 8px 10px 45px;
	background: url('/images/socialMedia.png') no-repeat 5px 0px;
	text-decoration: none;
	color: #929393;
	font-size: 12px;
}

.facebook a:hover {background-position: 5px -50px;}
.twitter a:hover {background-position: -94px -50px}