body {
	background: url('/images/footerFloral.png') repeat-x left bottom #282828;
	line-height: 1.5em;
  padding-bottom: 55px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.body {
  margin-top: -15px; /* pulls content up to account for image */
	background: url('/images/bg.jpg') repeat-x center top #6c925e;
}

.slide-bg {
  background: url('/images/slideBg.png') repeat-x 0 170px
}

.page-title {
  text-transform: capitalize;
}

.wrapper {
  margin: 0 auto;
  width: 940px;
  min-height: 840px;
}